:root {
    --bg-color: #FFFFFF; /* Light background */
    --text-color: #000000; /* Dark text */
}

.dark-mode {
    --bg-color: #363537; /* Dark background */
    --text-color: #FAFAFA; /* Light text */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

button, input, textarea, select {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
