aiofiles==23.2.1
deep_translator==1.11.4
ffmpeg_python==0.2.0
fpdf==1.7.2
googletrans
gradio==4.28.2
librosa==0.10.1
matplotlib==3.8.4
moviepy==1.0.3
numpy==1.26.4
openai==1.23.6
pydub==0.25.1
pysubs2==1.6.1
python-dotenv==1.0.1
pyttsx3==2.90
soundfile==0.12.1
SpeechRecognition==3.10.3
whisper_timestamped==1.15.3
